:root {
  --f-primary: "Indie Flower";
  --c-one: #23466b;
  --c-two: #539eee;
  --c-white: #ffffff;
  --c-three: #ffae00;
  --c-four: #cbefee;
  --c-five: #d68c08;
  --c-six: #bfc322;
  --c-seven: #f0d9a8;
}
